<form id="plantInput">
  <div class="mb-3">
    <label for="plantName" class="form-label">Plant Name</label>
    <input type="text" class="form-control" id="plantName" >
    <div id="emailHelp" class="form-text"></div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<script src="./js/plant.js"></script>